
Komfortowy dwuosobowy apartament znajduje się w nowoczesnym budynku Villa Marea posiadającym recepcję i całodobową ochronę.</p>

Zlokalizowany jest w spokojnej okolicy, w niewielkiej odległości (ok. 200m) od plaży, "Promenady Gwiazd", centrum miasta oraz Wolińskiego Parku Narodowego.</p>

Apartament składa się z dużego pokoju z balkonem, aneksu kuchennego, przedpokoju i łazienki. W aneksie kuchennym będą mieli Państwo możliwość skorzystania z lodówkozamrażarki, płyty ceramicznej, ekspresu do kawy, kompletu naczyń i sztućców. Na wyposażeniu jest pościel i ręczniki plażowe oraz telewizja kablowa, dvd i internet.</p>

Cennik:</p>
<h1>UWAGA!!!</h1> 
<b>W czerwcu i lipcu nie ma już wolnych miejsc, zapraszamy od 13 sierpnia</b></p>
 
1.06 - 30.06 - 130zł/dobę (minimum 3 dni)</p>
1.07 - 31.08 - 200zł/dobę (minimum 7 dni)</p>
1.09 - 30.09 - 130zł/dobę (minimum 3 dni)</p>
1.10 - 29.12  - 100zł/dobę (minimum 4 dni)</p>
 
Istnieje możliwość dostawki.</p>
Rezerwacje i dodatkowe informacje - tel.: 791 720 111</p>
 
 <h1>ZAPRASZAMY!</h1>

