<div id="footer-wrapper">
	<div id="footer">
		<%= render 'reklama/baner_eholiday' %>
		<%= render 'layouts/baner_nocowanie' %>
		Copyright (c) 2008 Sitename.com. All rights reserved. Design by <a href="http://www.freecsstemplates.org/"> CSS Templates</a>.
	</div>
	<!-- end #footer -->
</div>